.exo-container {
    display: flex;
    width: 100%;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.links-container {
    display: flex;
    width: 100%;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    li {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style-type: none;
        padding: 10px;
        margin: 0;
        div {
            width: auto;
            height: auto;
            padding: 10px 20px;
            margin: 0;
        }
    }
}
.interests-link > ol > li {
    font-size: 16px;
}
.tmc-link {
    width: auto;
    height: auto;
    padding: 10px 20px;
    margin: 0;
    background-color: red;
    color: white;
    text-decoration: none;
    border: 1px solid red;
    cursor: pointer;
    &:hover {
        color: red;
        background: white;
    }
}
a {
    font-size: 16px;
}