.logo {
    margin-bottom: 20px;
}
h2 {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    color: #04BF37;
    margin-bottom: 20px;
}
.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 30px;
    padding: 100px;
    max-width: 1024px;
    width: 100%;
    background-color: white;
    color: black;
    div, p {
        margin-bottom: 20px;
    }
}
body {
    margin: 0;
    padding: 0;
}